In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
import math

In [2]:
df=pd.read_csv("city_day.csv")
df.head()

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Ahmedabad,2015-01-01,NaN,NaN,NaN,18.22,17.15,NaN,0.92,27.64,133.36,0.00,0.02,0.00,NaN,NaN
1,Ahmedabad,2015-01-02,NaN,NaN,NaN,15.69,16.46,NaN,0.97,24.55,34.06,3.68,5.50,3.77,NaN,NaN
2,Ahmedabad,2015-01-03,NaN,NaN,NaN,19.30,29.70,NaN,17.40,29.07,30.70,6.80,16.40,2.25,NaN,NaN
3,Ahmedabad,2015-01-04,NaN,NaN,NaN,18.48,17.97,NaN,1.70,18.59,36.08,4.43,10.14,1.00,NaN,NaN
4,Ahmedabad,2015-01-05,NaN,NaN,NaN,21.42,37.76,NaN,22.10,39.33,39.31,7.01,18.89,2.78,NaN,NaN

In [3]:
import math
med_pm25 = math.floor(df["PM2.5"].median())
df["PM2.5"]=df["PM2.5"].fillna(med_pm25)
df.head()

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Ahmedabad,2015-01-01,53.0,NaN,NaN,18.22,17.15,NaN,0.92,27.64,133.36,0.00,0.02,0.00,NaN,NaN
1,Ahmedabad,2015-01-02,53.0,NaN,NaN,15.69,16.46,NaN,0.97,24.55,34.06,3.68,5.50,3.77,NaN,NaN
2,Ahmedabad,2015-01-03,53.0,NaN,NaN,19.30,29.70,NaN,17.40,29.07,30.70,6.80,16.40,2.25,NaN,NaN
3,Ahmedabad,2015-01-04,53.0,NaN,NaN,18.48,17.97,NaN,1.70,18.59,36.08,4.43,10.14,1.00,NaN,NaN
4,Ahmedabad,2015-01-05,53.0,NaN,NaN,21.42,37.76,NaN,22.10,39.33,39.31,7.01,18.89,2.78,NaN,NaN

In [4]:
import math
df_PM10=math.floor(df.PM10.median())
df.PM10=df.PM10.fillna(df_PM10)
df.head()

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Ahmedabad,2015-01-01,53.0,102.0,NaN,18.22,17.15,NaN,0.92,27.64,133.36,0.00,0.02,0.00,NaN,NaN
1,Ahmedabad,2015-01-02,53.0,102.0,NaN,15.69,16.46,NaN,0.97,24.55,34.06,3.68,5.50,3.77,NaN,NaN
2,Ahmedabad,2015-01-03,53.0,102.0,NaN,19.30,29.70,NaN,17.40,29.07,30.70,6.80,16.40,2.25,NaN,NaN
3,Ahmedabad,2015-01-04,53.0,102.0,NaN,18.48,17.97,NaN,1.70,18.59,36.08,4.43,10.14,1.00,NaN,NaN
4,Ahmedabad,2015-01-05,53.0,102.0,NaN,21.42,37.76,NaN,22.10,39.33,39.31,7.01,18.89,2.78,NaN,NaN

In [5]:
import math
df_NH3=math.floor(df.NH3.median())
df.NH3=df.NH3.fillna(df_NH3)
df.head()

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Ahmedabad,2015-01-01,53.0,102.0,NaN,18.22,17.15,18.0,0.92,27.64,133.36,0.00,0.02,0.00,NaN,NaN
1,Ahmedabad,2015-01-02,53.0,102.0,NaN,15.69,16.46,18.0,0.97,24.55,34.06,3.68,5.50,3.77,NaN,NaN
2,Ahmedabad,2015-01-03,53.0,102.0,NaN,19.30,29.70,18.0,17.40,29.07,30.70,6.80,16.40,2.25,NaN,NaN
3,Ahmedabad,2015-01-04,53.0,102.0,NaN,18.48,17.97,18.0,1.70,18.59,36.08,4.43,10.14,1.00,NaN,NaN
4,Ahmedabad,2015-01-05,53.0,102.0,NaN,21.42,37.76,18.0,22.10,39.33,39.31,7.01,18.89,2.78,NaN,NaN

In [6]:
df_AQI=math.floor(df.AQI.median())
df.AQI=df.AQI.fillna(df_AQI)
df.head()

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Ahmedabad,2015-01-01,53.0,102.0,NaN,18.22,17.15,18.0,0.92,27.64,133.36,0.00,0.02,0.00,126.0,NaN
1,Ahmedabad,2015-01-02,53.0,102.0,NaN,15.69,16.46,18.0,0.97,24.55,34.06,3.68,5.50,3.77,126.0,NaN
2,Ahmedabad,2015-01-03,53.0,102.0,NaN,19.30,29.70,18.0,17.40,29.07,30.70,6.80,16.40,2.25,126.0,NaN
3,Ahmedabad,2015-01-04,53.0,102.0,NaN,18.48,17.97,18.0,1.70,18.59,36.08,4.43,10.14,1.00,126.0,NaN
4,Ahmedabad,2015-01-05,53.0,102.0,NaN,21.42,37.76,18.0,22.10,39.33,39.31,7.01,18.89,2.78,126.0,NaN

In [7]:
df_NO=math.floor(df.NO.median())
df.NO=df.NO.fillna(df_NO)
df.head()

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Ahmedabad,2015-01-01,53.0,102.0,9.0,18.22,17.15,18.0,0.92,27.64,133.36,0.00,0.02,0.00,126.0,NaN
1,Ahmedabad,2015-01-02,53.0,102.0,9.0,15.69,16.46,18.0,0.97,24.55,34.06,3.68,5.50,3.77,126.0,NaN
2,Ahmedabad,2015-01-03,53.0,102.0,9.0,19.30,29.70,18.0,17.40,29.07,30.70,6.80,16.40,2.25,126.0,NaN
3,Ahmedabad,2015-01-04,53.0,102.0,9.0,18.48,17.97,18.0,1.70,18.59,36.08,4.43,10.14,1.00,126.0,NaN
4,Ahmedabad,2015-01-05,53.0,102.0,9.0,21.42,37.76,18.0,22.10,39.33,39.31,7.01,18.89,2.78,126.0,NaN

In [8]:
df_NO2=math.floor(df.NO2.median())
df.NO2=df.NO2.fillna(df_NO2)
df_NOx=math.floor(df.NOx.median())
df.NOx=df.NOx.fillna(df_NOx)
df_CO=math.floor(df.CO.median())
df.CO=df.CO.fillna(df_CO)
df_SO2=math.floor(df.SO2.median())
df.SO2=df.SO2.fillna(df_SO2)
df_O3=math.floor(df.O3.median())
df.O3=df.O3.fillna(df_O3)
df_Benzene=math.floor(df.Benzene.median())
df.Benzene=df.Benzene.fillna(df_Benzene)
df_Toluene=math.floor(df.Toluene.median())
df.Toluene=df.Toluene.fillna(df_Toluene)
df_Xylene=math.floor(df.Xylene.median())
df.Xylene=df.Xylene.fillna(df_Xylene)

In [9]:
reg=linear_model.LinearRegression()
reg.fit(df[['PM2.5','PM10','NO','NO2','NOx','NH3','CO','SO2','O3','Benzene','Toluene','Xylene']],df['AQI'])

LinearRegression()

In [14]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

from  sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn import metrics
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score
from sklearn.metrics import accuracy_score,confusion_matrix

In [12]:
X2=df[['PM2.5','PM10','NO','NO2','NOx','NH3','CO','SO2','O3','Benzene','Toluene','Xylene']]
Y2=df['AQI']

In [17]:
X_train2,X_test2,Y_train2,Y_test2=train_test_split(X2,Y2,test_size=0.33,random_state=70)
print(X_train2.shape,X_test2.shape,Y_train2.shape,Y_test2.shape)

(17121, 12) (8434, 12) (17121,) (8434,)

In [19]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier

In [21]:
log_reg=LogisticRegression().fit(X_train2,Y_train2)

In [22]:
train_preds2=log_reg.predict(X_train2)

In [23]:
print("Model accuracy on test is:",accuracy_score(Y_train2,train_preds2))
test_preds2=log_reg.predict(X_test2)
print("Model accuracy on test is:",accuracy_score(Y_test2,test_preds2))
print('-'*50)
print('KappaScore is: ', metrics.cohen_kappa_score(Y_test2,test_preds2))

Model accuracy on test is: 0.1682144734536534
Model accuracy on test is: 0.1629120227649988
--------------------------------------------------
KappaScore is:  0.027997296076519795